$primary:     #202020;
$secondary:   #121212;
$white:       #fff;
$black:       #000;
$border:      #1c1c1c;
$blue:        #3137C9;
$red:         #ED3024;
$dots:        #C4C4C4;
$footerLinks: #107EFF;


$z-index-sidebar: 1000;
$z-index-header: 1000;

$sidebar-width: 300px;