/* Error: Undefined variable.
 *   ,
 * 3 |   box-shadow: 0 15px 25px rgba($black, .45);
 *   |                                ^^^^^^
 *   '
 *   add-post.scss 3:32  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 3 \2502    box-shadow: 0 15px 25px rgba($black, .45);\d\a   \2502                                 ^^^^^^\a   \2575 \a   add-post.scss 3:32  root stylesheet";
}
