.btn{
  display: inline-block;
  text-decoration: none;
  color: $white;
  font-size: 1.2rem;
  font-family: inherit;
  align-items: center;

  border-radius: 2.5rem;
  outline: none;
  border: none;


  padding: 1.3rem 2.5rem;

  cursor: pointer;

  transition: all .2s ease-in-out;

  &:hover {
    box-shadow: 4px 4px 12px -5px rgba($black, 100%);
  }

  &-red {
    background-color: darken($red, 15%);

    &:hover {
      background-color: $red;
      text-decoration: none;
    }

    &:focus {
      outline: none;
      border: none;
    }
  }

  &-blue {
    background-color: darken($blue, 15%);
    &:hover {
      background-color: $blue;
    }
  }

  &-rounded {
    border-radius: .41em;
  }

  &-sm {
    padding: .7em 1.25em;
  }
}