.comments {
  margin-top: 5rem;

  &__item {
    margin-bottom: 3rem;

    > .comments {
      padding-left: 3rem;
      margin-top: 3rem;
    }
  }

  &__header {
    display: flex;
    margin-bottom: 1.5rem;
  }

  &__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }

  &__author {
    flex-grow: 1;
    padding-left: 1.5rem;

    font-size: 1.2rem;
    line-height: 1.4;

    &_name {
      color: $white;
      font-weight: 500;
    }

    &_pubdate {
      color: $commentsPubdate;
      padding-left: .3rem;
    }
  }

  &__text {
    margin-bottom: 1rem;

    font-size: 1.2rem;
    line-height: 1.3;
    color: $white;
  }

  &__reply {
    padding: 0;

    background: 0;
    border: none;
    cursor: pointer;

    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    color: $commentsReply;

    &:hover {
      text-decoration: underline;
    }
  }


}