.form {
  &__group {
    margin-bottom: 1.5rem;
    position: relative;
    &-md {
      margin-bottom: 2.5rem;
    }
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(#ffffff, .5) url("../../images/Ripple-1s-200px.gif") center / 200px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: .3s opacity ease-in-out, .3s visibility ease-in-out;
  }
  &._sending:after {
    opacity: 1;
    visibility: visible;
  }

  &__control {
    display: block;
    width: 100%;
    padding: .5rem 0 .75rem;

    background: none;
    border: none;
    border-bottom: 1px solid #3f3f3f;
    border-radius: 0;
    box-shadow: none;

    font-family: inherit;
    font-size: 1.4rem;
    color: $white;

    &::placeholder {
      color: rgba($white, .2);
    }

    &:focus + .form__line {
      width: 100%;
    }

    &-textarea {
      overflow: hidden;

      height: 250px;
      resize: none;
    }

  }

  &__line {
    width: 0;
    height: 1px;

    background-color: $blue;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;

    transition: width .2s linear ;
  }

  &-auth {
    max-width: 35rem;
    margin: 0 auto;
  }

  &__footer {
    &-center {
      text-align: center;
    }
    &_list {
      display: flex;
      justify-content: center;

      font-size: 1.2rem;
      line-height: 1.2;
      & li {
        margin: 0 .5rem;
      }
      & a {
        color: $white;
      }
    }
  }
}
