.modal {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  width: 100%;
  height: 100%;

  background-color: rgba($black, .8);

  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-modal;

  &.show {
    display: flex;
  }

  &__content {
    position: relative;

    width: 100%;
    max-width: 50rem;
    padding: 8rem;

    background-color: $primary;
    border-radius: .5rem;

    transform: translateY(-5rem);
    opacity: 0;
    transition: transform .2s linear,
                opacity .2s linear;

    @include breakpoint($mobile-bp) {
      padding: 4rem 3rem 3rem;
    }

    &-contact {
      padding-bottom: 2.5rem;
    }

    &-story {
      padding: 0;
      background: none;
    }
  }

  &__close {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    opacity: .5;

    position: absolute;
    top: 2rem;
    right: 2rem;

    transition: transform .25s linear, opacity .25s linear;

    &:hover {
      transform: rotate(90deg);
      opacity: 1;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: 4rem;

    font-size: 1.2rem;
    color: $grey;

    @include breakpoint($mobile-bp) {
      font-size: .9rem;
    }

    & li {
      margin: 0 .5rem
    }

    & a {
      color: inherit;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__video {
    display: block;
  }
}
