.post {
  margin-bottom: 3rem;
  padding: 2.5rem;

  background-color: $primary;
  box-shadow: 0 15px 25px rgba($black, .35);
  border-radius: 5px;

  overflow: hidden;

  &__header {
    margin: 0 0 2.5rem;;

    &_preview {
      display: block;
      max-width: 100%;
      height: auto;
    }

    &-preview {
      margin: -2.5rem -2.5rem 2.5rem;
    }
  }

  &__content {
    margin-bottom: 2rem;

    &_description {
      font-size: 1.4rem;
      color: #D2D2D2;
    }

    &_text {
      padding-bottom: 1rem;
      font-size: 1.4rem;
      color: $white;

      border-bottom: 1px solid $border;

      a {
        color: lighten($blue, 15%);
        transition: all .2s linear;

          &:hover {
            color: lighten($blue, 10%);
          }
      }

      h2, h3, h4, h5, h6 {
        margin-bottom: 2rem;
        font-weight: 700;
      }

      h2 {
        font-size: 1.3em;
      }

      h3 {
        font-size: 1.25em;
      }

      h4 {
        font-size: 1.15em;
      }

      h5, h6 {
        font-size: 1em;
      }

      ul, ol {
        margin-bottom: 2rem;
      }

      ol {
        list-style: decimal inside;
      }

      p {
        margin-bottom: 2rem;
      }

      table {
        margin-bottom: 2rem;
        width: 100%;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
    &_title {
      margin-bottom: 1.5rem;
      font-size: 1.8rem;
      color: $white;
      font-weight: 500;
      a {
        color: inherit;
      }

      &-mb0 {
        margin-bottom: 0;
      }
    }
  }

  &__data {
    display: flex;
    color: #828282;
    line-height: 1.2;

    a {
      color: inherit;
      transition: all .2s ease-in;
    }

    &_item {
      &:not(:last-child):after {
        content: "";
        display: inline-block;
        width: 6px;
        height: 6px;
        margin: 0 1.5rem;
        position: relative;
        top: -2px;

        border-radius: 50%;
        background-color: $dots;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_link {
      font-size: 1.4rem;
      color: $footerLinks;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1.5rem;

    font-size: 1.2rem;
    color: $white;

    a {
      color: inherit;
      opacity: .6;
      transition: all .2s linear;

      &:hover {
        opacity: 1;
      }
    }

    &_icon {
      margin-left: .5rem;
    }
  }

  &__subtitle {
    margin-top: 3rem;
    font-size: 1.6rem;
    color: $white;
    font-weight: 500;
    margin-bottom: 2rem;
  }
}
