.related {
  padding-bottom: .5rem;

  border-bottom: 1px solid $border;

  &__list {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint($mobile-bp) {
      flex-direction: column;
    }

    &_item {
      width: 50%;
      margin-bottom: 2.5rem;

      @include breakpoint($mobile-bp) {
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }

    &_title {
      font-size: 1.4rem;
      font-weight: 500;
      color: $relatedTitle;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      @include breakpoint($mobile-bp) {
        font-size: 1.2rem;
      }

      a {
        color: inherit;
        transition: color .2s linear;

        &:hover {
          color: lighten($blue, 10%);
        }
      }
    }

    &_date {
      font-size: 1.2rem;
      color: $relatedDate;

      @include breakpoint($mobile-bp) {
        font-size: 1rem;
      }
    }
  }
}
