
.sidebar {
  width: $sidebar-width;
  height: 100vh;

  background-color: $primary;
  box-shadow: 5px 0 15px rgba(#050505, .1);

  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-index-sidebar;

  @include breakpoint($tablet-bp) {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 29.4rem;

    top: 4.4rem;

    height: calc(100vh - 4.4rem);

    transform: translateX(-100%);
    transition: transform .2s linear;

    .show-sidebar & {
      transform: translateX(0);
    }
  }

  &__header {
    height: 18rem;
    background-color: $secondary;

    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include breakpoint($tablet-bp) {
      height: 10rem;
    }
  }

  &__content {
    margin-top: -50px;
    position: relative;

    @include breakpoint($tablet-bp) {
      flex-grow: 1;
    }
  }

  &__footer {
    @include breakpoint($tablet-bp) {
      padding: 1rem 2rem!important;
    }
  }
}


