<header class="header">
    <nav class="navigation">
        <ul class="navigation__list">
            <li class="navigation__list_item">
                <a href="../index.html" class="navigation__list_link">главная</a>
            </li>
            <li class="navigation__list_item">
                <a href="#" class="navigation__list_link has-subnav">статьи</a>
                <ul class="subnav">
                    <li class="navigation__list_subitem">
                        <a href="#" class="navigation__list_subLink">Создание сайтов</a>
                    </li>
                    <li class="navigation__list_subitem">
                        <a href="#" class="navigation__list_subLink">Заглушка</a>
                    </li>
                    <li class="navigation__list_subitem">
                        <a href="#" class="navigation__list_subLink">Заглушка</a>
                    </li>
                </ul>
            </li>
            <li class="navigation__list_item">
                <a href="../text.html" class="navigation__list_link">обо мне</a>
            </li>
            <li class="navigation__list_item">
                <a href="../text.html" class="navigation__list_link">заглушка</a>
            </li>
        </ul>
        <div class="navigation__right">
            <ul class="navigation__list">
                <li class="navigation__list_item">
                    <a href="../profile.html" class="navigation__list_link">профиль</a>
                </li>
                <li class="navigation__list_item">
                    <a href="../signin.html" class="navigation__list_link">выйти</a>
                </li>
            </ul>
            <form class="navigation__form" action="search.html" method="get">
                <input type="search" class="navigation__form_input" placeholder="Поиск по блогу">
                <button class="navigation__form_btn">
                    <i class="fas fa-search"></i></button>
            </form>
        </div>
    </nav>
    <button class="burger" type="button" id="sidebarToggle">
        <span>Открыть навигацию</span>
    </button>
</header>
