<div class="modal" id="share-modal">
    <div class="modal__content">
        <button type="button" class="modal__close">
            <img src="../assets/images/close.svg" alt="Close">
        </button>
        <ul class="social">
            <li class="social__item">
                <a href="https://www.instagram.com/kooot553/" class="social__link">
                    <img src="../assets/images/facebook-modal.svg" alt="">
                </a>
            </li>
            <li class="social__item">
                <a href="#" class="social__link">
                    <img src="../assets/images/twitter-modal.svg" alt="">
                </a>
            </li>
            <li class="social__item">
                <a href="https://vk.com/id3137887" class="social__link">
                    <img src="../assets/images/vk-modal.svg" alt="">
                </a>
            </li>
            <li class="social__item">
                <a href="https://vk.com/id3137887" class="social__link">
                    <img src="../assets/images/copy-modal.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>
