<aside class="sidebar">
    <div class="sidebar__header">
        <img src="../assets/images/sidebar_header.jpg" alt="sidebar_header.jpg">
    </div>
    <div class="sidebar__content">
        <div class="profile">
                <img src="../assets/images/profile_photo1_small.jpg" alt="profile__avatar" class="profile__avatar">
            <div class="profile__name">Alex Gusev</div>
            <div class="profile__prof">блог front-end разработчика</div>

            <ul class="social">
                <li class="social__item">
                    <a href="https://www.instagram.com/kooot553/" class="social__link" target="_blank">
                        <img src="../assets/images/instagram.svg" alt="Alex Gusev instagram" class="social__link_img">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" class="social__link" target="_blank">
                        <img src="../assets/images/pinterest.svg" alt="Alex Gusev pinterest">
                    </a>
                </li>
                <li class="social__item">
                    <a href="https://vk.com/id3137887" class="social__link" target="_blank">
                        <img src="../assets/images/vk.svg" alt="Alex Gusev vk">
                    </a>
                </li>
            </ul>
            <div class="profile__text">
                Junior Front-end разработчик. Практикую верстку сайтов.
                Начал заниматься созданием сайтов в&nbsp;2020.
                Учусь и&nbsp;работаю с&nbsp;GeekBrains.
            </div><!--  /.profile__text   -->
        </div><!-- /.profile  -->
    </div><!--  /.sidebar__content  -->
    <div class="sidebar__footer">
        <a href="#" class="btn btn-red">Мои работы</a>
        <button class="btn btn-blue">Написать мне</button>
    </div>
</aside>